doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Consulta A
        link(rel="stylesheet", href="css/estilos.css")
        script(src="/js/consultaA.js")
    body 
        h1 Consulta A
        .header 
            .menu
                ul.lista
                    li
                        a(href="/") Home
                    li
                        a(href="/consultaA") Consulta A
                    li
                        a(href="/consultaB") Consulta B
                    li
                        a(href="/consultaC") Consulta C
                    li 
                        a(href="/consultaD") Consulta D
        p.enunciado  
            | Realice una página que muestre los libros 
            | que escribió un autor y su correspondiente porcentaje de participación.
        .cont-generalA
            .busqueda
                select#select-autores
                button(onclick="buscar()") Buscar
        .listado 
            #lista-libros
        